<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link  href="/css/vendors/cropper.min.css" rel="stylesheet">
    <style>
        .cropper-view-box, .cropper-face {
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <%- include('../partials/adminHeader.ejs') %>
    <div class="container">
        <main>
            <div class="row py-5 g-0 box-shadow">
                <h2 class="text-center">Profile</h2>
                <div class="col-12 col-lg-4 col-xl-3 border-2 border-end border-light">
                    <div class="card text-center h-100 p-4">
                        <form id="avatarForm" class="mb-3" action="/admin/users/upload/<%= user._id %>" method="POST" enctype="multipart/form-data">
                            <div id="avatarFigure" class="avatar-uploader mb-3" style="background-image: url('<%= user.avatar %>');">
                                <input type="file" accept="image/jpg, image/jpeg, image/png, image/webp" name="userAvatar" id="userAvatar" class="fileInput">
                            </div>
                            <div id="avatarButtons" class="btn-group d-none" role="group">
                                <button id="submitAvatar" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                        <div class="card-body">
                            <div id="avatarMessage" class="alert alert-danger d-none" role="alert"></div>
                            <div class="user-about">
                                <h5><%= user.firstName %> <%= user.lastName %></h5>
                                <h6><%= user.role %></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8 col-xl-6 border-2 border-end border-light">
                    <div class="h-100 p-4">
                        <div id="message" class="alert alert-success d-none" role="alert"></div>
                        <form id="userForm" action="/admin/users/<%= user._id %>" method="POST">
                            <input type="hidden" name="_method" value="PUT">
                            <div class="form-group">
                                <input type="text" name="firstName" class="form-field" id="firstName" value="<%= user.firstName %>" placeholder="First name" required>
                                <label for="firstName" class="form-label">First name</label>
                                <div class="errorTag" data-target-field="firstName"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="lastName" class="form-field" id="lastName" value="<%= user.lastName %>" placeholder="Last name" required>
                                <label for="lastName" class="form-label">Last name</label>
                                <div class="errorTag" data-target-field="lastName"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" class="form-field" id="username" value="<%= user.username %>" placeholder="Username" required>
                                <label for="username" class="form-label">Username</label>
                                <div class="errorTag" data-target-field="username"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-field" id="email" value="<%= user.email %>" placeholder="Email" required>
                                <label for="email" class="form-label">Email</label>
                                <div class="errorTag" data-target-field="email"></div>
                            </div>
                            <div class="form-group">
                                <input type="tel" name="mobilePhone" class="form-field" id="mobilePhone" value="<%= user.mobilePhone %>" placeholder="Mobile phone" required>
                                <label for="mobilePhone" class="form-label">Mobile phone</label>
                                <div class="errorTag" data-target-field="mobilePhone"></div>
                            </div>
                            <div class="form-group">
                                <textarea name="bio" class="form-field" id="bio" placeholder="Bio..."><%= user.bio %></textarea>
                                <label for="bio" class="form-label">Bio</label>
                            </div>
                            <div class="mb-4">
                                <a class="collapseTrigger collapsed" data-bs-toggle="collapse" href="#collapsePassword" role="button" aria-expanded="false" aria-controls="collapsePassword"><h6>Change password</h6></a>
                                <div id="collapsePassword" class="collapse">
                                    <div class="form-group">
                                        <input type="password" name="newPassword" class="form-field" id="newPassword" placeholder="New password">
                                        <label for="newPassword" class="form-label">New password</label>
                                        <div class="toggle-password-view d-none" data-target-field="newPassword"><i class="fas fa-eye"></i></div>
                                        <div class="errorTag" data-target-field="newPassword"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-field" id="password" placeholder="Current password" required>
                                        <label for="password" class="form-label">Current password</label>
                                        <div class="toggle-password-view d-none" data-target-field="password"><i class="fas fa-eye"></i></div>
                                        <div class="errorTag" data-target-field="password"></div>
                                    </div>
                                </div>
                            </div>
                            <button id="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-12 col-xl-3">
                    <div class="h-100 p-4">
                        <h2 class="mb-4">Shows</h2>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="avatarModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="<%= user.avatar %>" alt="new user avatar" id="newAvatar">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="cropButton" type="button" class="btn btn-primary">Crop</button>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/js/vendors/cropper.min.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/avatar.js"></script>
    <script>
        /* Add event listeners when content is loaded */
        window.addEventListener('DOMContentLoaded', () => {
            addUserFormEvents();
            addAvatarFormEvents();
        });
    </script>
</body>
</html>
